.box{
    width:100px;
    height:100px;
    background-color: cadetblue;
    margin: 10px;
}
body{
    margin: 0;
}

.box-default {
    padding:25px;
    border:10px solid cornflowerblue;
}

.box-new {
    box-sizing: border-box;
    padding:25px;
    border:10px solid cornflowerblue;
}