.card {
    background-color: crimson;
    text-align: center;
    width: 400px;
    margin: auto;
    margin-top: 20px;
}
body {
    background-color: black;
    font-family: sans-serif;
    color: antiquewhite;
}

h1{
    padding-top: 10px;
    font-size: 22px;
    font-weight: 900;
    margin:0;
}

h2{
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
}

p{
    font-size: 9px;
    font-weight: 100;
    padding: 20px;
    background-color: rgb(250, 65, 102);
}


